src/main/resources/META-INF/schemas/movieWs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://spring.io/guides/gs-movie-web-service"
           targetNamespace="https://spring.io/guides/gs-movie-web-service" elementFormDefault="qualified">

    <xs:element name="getMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie" type="tns:movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="movie">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="tagline" type="xs:string"/>
            <xs:element name="released" type="xs:int"/>
            <xs:element name="votes" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
